* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #EEE2DC;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
  background: #EEE2DC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #123C69;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #374785;
}